/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-image-slider  {
    img {
        display: inline-block;
        border: 1px dashed #000;
        padding: 0.3rem;
        margin: 0.5rem;
        object-fit: contain;
        width:20%;
    }

    .wp-block-cgb-block-image-slider__customize {
        display: inline-block;

        button {
          border: 1px solid #000;
          padding: 0.5rem;
        }
    }
}
